#map{
    margin-top: 55px;
    position: absolute;
}

.infobox{
    padding-top:5px;
    clear:both;
    min-width : 100px;
    font-size : 7px;
    text-align: left;
    background-color: #e6f7ff;
    border: 3px solid #91d5ff;
}

.ant-drawer-header {
    background-color: #e6f7ff;
    border-radius: 0;
}
  
.ant-drawer-body {
    border: 3px solid #91d5ff;
    background-color: #e6f7ff;
    height: calc(100vh - 55px);
}
